<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="botGeneratorSupport" name="UI Bot Code Generator" schema="schema/generator.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.swtbot.generator.ui.StartupRecorder">
      </startup>
   </extension>
   <extension
         point="org.eclipse.swtbot.generator.botGeneratorSupport">
      <generator
            class="org.eclipse.swtbot.generator.framework.rules.SWTBotGeneratorRules">
      </generator>
   </extension>

</plugin>
