<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="botGeneratorSupport" name="UI Bot Code Generator" schema="schema/generator.exsd"/>
   <extension-point id="dialogSupport" name="Dialog Extension" schema="schema/dialog.exsd"/>
   <extension-point id="org.eclipse.swtbot.generator.rules.additions" name="Extend the default SWTBot rules set" schema="schema/org.eclipse.swtbot.generator.rules.additions.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.swtbot.generator.ui.StartupRecorder">
      </startup>
   </extension>
   <extension
         point="org.eclipse.swtbot.generator.botGeneratorSupport">
      <generator
            class="org.eclipse.swtbot.generator.framework.rules.SWTBotGeneratorRules">
      </generator>
   </extension>
   <extension
         point="org.eclipse.swtbot.generator.dialogSupport">
      <dialog
            class="org.eclipse.swtbot.generator.ui.RecorderDialog">
      </dialog>
   </extension>

</plugin>
